body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  text-align: center;
  margin: 0;
  padding: 0;
}

.weather-container {
  padding: 20px;
}

h1 {
  color: #333;
}

#temperature {
  font-size: 2em;
  color: #333;
  margin-top: 20px;
}

#weather-image {
  margin-top: 20px;
  max-width: 200px;
  height: auto;
}

#description {
  font-size: 1.2em;
  color: #555;
  margin-top: 10px;
}
