html, body {
    margin: 0;
    padding: 0;
    height:max-content;
    overflow:hidden;
}
.video-container {
    position: relative;
    width: 100%;
    height: 100vh; /* Full viewport height */
    overflow: hidden;
}
#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cover the container */
}
 
 h2{
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    height: 40px; 
    color: white;
    padding: 10px;
    margin: 20px;
    font-size:xx-large;
    animation: animate__bounceIn 10s ease infinite alternate;
}

.heading span{
    color:rgb(138, 198, 138);
}



/* .heading {
    font-family: "Carter One", system-ui;
    font-weight: 400;
    font-style: normal;
  } it is for font style*/

  
ul{
    
    color: wheat;
    position: absolute;
    top: 0;
    right: 20px;
    display: flex;
    flex-direction: row;
    gap: 60px;
    height: 40px;
    padding: 10px;
    margin: 20px;
    font-size:x-large;
    
}