/* Ensure the html and body elements take up the full height */
html, body {
    margin: 0;
    padding: 0;
    height:max-content;
    overflow:hidden;
}

/* Video container styling */
.video-container {
    position: relative;
    width: 100%;
    height: 100vh; /* Full viewport height */
    overflow: hidden;
}

/* Video styling */
#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cover the container */
}

/*For header menu */
body{
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}
.logo {
    position: absolute;
    top: 30px;
    width: 200%;
    left: 10%;
    transform: translate(-50%, -50%);
    color: #e2fffe;
    text-align: center;
    z-index: 1; /* Ensure it sits above the video */
    padding: 20px;
    background-color: rgba(0, 0, 0, 0); /* Semi-transparent background for better readability */
    border-radius: 10px; /* Rounded corners (optional) */
    justify-content: space-between;
}

span{
    color:rgb(138, 198, 138);
}
.menu ul{
    display: flex;
    list-style: none;
    position: absolute;
    top: 10px;
    /* for width menu contact and option */
    width: 30%;
    left: 80%;
    transform: translate(-50%, -50%);
    color: white;
 /* Semi-transparent background for better readability */
    border-radius: 10px; /* Rounded corners (optional) */
    justify-content: space-between;
}
.menu a{
    text-decoration: none;
    font-size: 1.5rem;
    color: rgb(138, 198, 138);
    padding: 0%;
    font-weight: 200;
    font-style: normal;
    font-size: 16px
    
}
.menu a:hover{
    letter-spacing: 5px;
}
a{
    text-decoration: none;
}



 

